:root {
	--main-border-color: rgb(123, 28, 28);
}

html,
body {
	font-size: 16px;
	border: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: rgb(135, 119, 93);
}

.container {
	background-color: rgb(192, 193, 162);
	border-left: 1em solid var(--main-border-color);
	border-right: 2px solid var(--main-border-color);
	color: rgb(41, 95, 97);
	font-family: Corbel, sans-serif;
	font-size: 1.3rem;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	padding: 1em;
	width: 70rem;
}

.butz {
	margin-top: 20px;
}
