
:root {
	--main-border-color: rgb(37, 57, 95);
	--icon-color: rgb(230, 230, 230);
}

@font-face {
	font-family: GurbaniHindi;
	src: local("GurbaniHindi"),
		url(resources/GurbaniHindi.ttf);
}

@font-face {
	font-family: Prabhki;
	src: local("Prabhki"),
		url(resources/Prabhki.ttf);
}

html,
body {
	font-size: 16px;
	border: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: rgb(46, 70, 117);
	overflow: auto;
}

.container {
	background-color: rgb(168, 168, 168);
	border-left: 1em solid var(--main-border-color);
	border-right: 2px solid var(--main-border-color);
	color: rgb(120, 69, 59);
	font-family: Corbel, sans-serif;
	font-size: 1.3rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	position: relative;
	width: 70rem;
}

header {
	border-bottom: 2px solid var(--main-border-color);
}

.demoButton {
	border: 2px solid green;
	border-radius: 6px;
	padding: 0.5rem;
}

.hidden {
	display: none;
}

.title {
	font-size: 3.5rem;
	vertical-align: sub;
}

#searchDemo {
	background-color: grey;
	padding: 1rem;
	position: absolute;
	top: 5vh;
	width: 60rem;
}

#shabadDemo {
	background-color: grey;
	height: 94vh;
	left: 2vw;
	padding: 1rem;
	position: absolute;
	top: 2vh;
	width: 94vw;
}

.searchImage {
	background-image: url('iGurbani.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 90vh;
}

.close {
	color: var(--icon-color);
	cursor: pointer;
	font-size: 3rem;
	position: absolute;
	right: 0.2rem;
	top: -0.7rem;
}

.wrapper {
	height: 95%;
	margin-top: 2em;
	padding-top: 1em;
	position: relative;
}

.shabad {
	display: inline-block;
	font-size: 1em;
	position: absolute;
	text-align: center;
}

.line {
	font-family: Corbel, Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	margin: auto;
	width: 12em;
}

.gurbani {
	font-family: GurbaniAkharHeavy;
}

.hindi {
	font-family: GurbaniHindi;
}

.prabhki {
	font-family: Prabhki;
}

.theme1 {
	background-color: rgb(4, 4, 24);
	color: rgb(185, 184, 184);
	height: 100%;
}

.theme2 {
	background-color: rgb(187, 122, 82);
	color: rgb(33, 56, 121);
	height: 100%;
}

.theme3 {
	background-color: rgb(240, 237, 215);
	color: rgb(62, 62, 60);
	height: 100%;
}

.navicon {
	color: var(--icon-color);
	cursor: pointer;
	font-family: Consolas, Menlo, Monaco, mono;
	font-size: 8rem;
	font-weight: bold;
	position: absolute;
	z-index: 10;
	-webkit-text-stroke: 4px rgb(98, 98, 98);
}

.next {
	/* ▶▷ */
	right: 0;
	top: 35%;
}

.prev {
	/* ◀◁ */
	left: 0;
	top: 35%;
}
