
:root {
	--flat-bg-color: rgb(30, 34, 77);
	--content-bg-color: rgb(190, 190, 190);
	--content-text-color: rgb(0, 0, 0);
	--main-border-color: rgb(102, 106, 153);
	--icon-color: rgb(230, 230, 230);
}

@font-face {
	font-family: GurbaniAkharHeavy;
	src: local("GurbaniAkharHeavy"),
		url(GurbaniAkharHeavy.ttf);
}

@font-face {
	font-family: GurbaniHindi;
	src: local("GurbaniHindi"),
		url(GurbaniHindi.ttf);
}

@font-face {
	font-family: Prabhki;
	src: local("Prabhki"),
		url(Prabhki.ttf);
}

html,
body {
	font-size: 16px;
	border: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: var(--flat-bg-color);
	overflow: auto;
}

.container {
	background-color: var(--content-bg-color);
	border-left: 1em solid var(--main-border-color);
	border-right: 2px solid var(--main-border-color);
	color: var(--content-text-color);
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans serif;
	font-size: 1.3rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	position: relative;
	width: 70rem;
}

header {
	border-bottom: 2px solid var(--main-border-color);
}

.demoButton {
	background-color: rgb(225, 143, 35);
	border: 2px solid var(--main-border-color);
	border-radius: 6px;
	color: rgb(76, 19, 6);
	cursor: pointer;
	font-weight: bold;
	padding: 0.5rem;
}

.hidden {
	display: none;
}

.title {
	font-size: 3.5rem;
	vertical-align: sub;
}

#searchDemo {
	background-color: grey;
	left: 15vw;
	padding: 1rem;
	position: absolute;
	top: 2vh;
	width: 70vw;
}

#shabadDemo {
	background-color: grey;
	height: 94vh;
	left: 2vw;
	overflow: hidden;
	padding: 1rem;
	position: absolute;
	top: 2vh;
	width: 94vw;
}

.searchImage {
	background-image: url('iGurbani.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 90vh;
}

.close {
	color: var(--icon-color);
	cursor: pointer;
	font-size: 3rem;
	position: absolute;
	right: 0.2rem;
	top: -0.7rem;
}

.wrapper {
	height: 95%;
	margin-top: 2em;
	position: relative;
}

.shabad {
	display: inline-block;
	font-size: 1em;
	position: absolute;
	text-align: center;
}

.line {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-weight: bold;
	margin: auto;
	width: 12em;
}

.gurbani {
	font-family: GurbaniAkharHeavy;
}

.hindi {
	font-family: GurbaniHindi;
}

.prabhki {
	font-family: Prabhki;
}

.theme1 {
	background-color: rgb(4, 4, 24);
	color: rgb(185, 184, 184);
	height: 100%;
}

.theme2 {
	background-color: rgb(201, 104, 45);
	color: rgb(18, 53, 152);
	height: 100%;
}

.theme3 {
	background-color: rgb(216, 210, 166);
	color: rgb(101, 30, 30);
	height: 100%;
}

.navicon {
	color: var(--icon-color);
	cursor: pointer;
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", mono;
	font-size: 8rem;
	font-weight: bold;
	position: absolute;
	z-index: 10;
	-webkit-text-stroke: 4px rgb(98, 98, 98);
}

.next {
	/* ▶▷ */
	right: 0;
	top: 35%;
}

.prev {
	/* ◀◁ */
	left: 0;
	top: 35%;
}

@media (max-width: 1366px) {
	html {
		font-size: 14px;
	}

	#shabadDemo {
		height: 93vh;
	}
}
