@import 'main.css';
@import 'widgets/GurmukhiKeyboard.css';

header {
	min-height: 15%;
}

nav {
	border: 1px solid grey;
	height: 45%;
}

footer {
	min-height: 40%;
}

.search-input {
	border-bottom: 2px solid grey;
	font-family: GurbaniAkharHeavy;
	font-size: 4rem;
	height: 5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-right: 4rem;
}

.search-icon {
	display: none;
	transform: rotate(-45deg);
}

.search-input.empty .search-icon {
	display: inline-block;
}

.search-input::after {
	content: '🗙';
	font-family: Arial;
	position: absolute;
	right: 1.5rem;
}
