@import './main.css';

.search-input {
	font-size: 4rem;
}

.search-input input {
	background-color: hsl(240, 24%, 16%);
	border: 1px solid hsl(240, 24%, 44%);
	color: hsl(0, 0%, 68%);
	font-family: GurbaniAkharHeavy;
	font-size: 4rem;
	padding: 0.2em;
	width: 52rem;
}

.delete-icon {
	cursor: pointer;
}

.main {
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
}

.waiting {
	font-size: 3.5rem;
	padding-left: 22rem;
}

.results {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 52rem;
}

.results td {
	border: 1px solid hsl(116, 14%, 24%);
	cursor: pointer;
	font-family: GurbaniAkharHeavy;
	font-size: 2.75rem;
	padding: 0.2em;
}

.page-column {
	text-align: right;
}

.shabad-column {
}

.shabad {
	border: 1px solid hsl(116, 14%, 24%);
	font-family: GurbaniAkharHeavy;
	font-size: 2.75rem;
	margin-left: 2rem;
	min-width: 62rem;
	padding: 0.25em;
}

.shabad:empty {
	display: none;
}

.shabad .line {
	cursor: pointer;
}

.shabad .line:hover {
	background-color: hsl(222, 14%, 21%);
}

.shabad .line.selected {
	background-color: hsl(208, 40%, 17%);
}

.en,
.es,
.tl {
	font-family: var(--primary-font);
}
